@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@300&family=Titillium+Web:wght@300&display=swap');

.text{
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  margin: 7% 20%;
}

.card-text{
  color: 	#f2f2f2;
}

.car-name{
  font-family: "Bebas Neue";
  font-size: 2rem;
}

.car-logo{
  height: 9%;
  width: 18%;
  margin: 7%;
  margin-top: 10%;
}

.sedans, .suvs, .luxury{
  height: 25rem;
}

.sedans{
  background-color: #FA9048;
}

.suvs{
  background-color: #235F7A;
}

.luxury{
  background-color: #3D6251;
}

button{
  text-align: center;
}
.learn-more{
  border-radius: 15px;
  font-size: 15px;
  padding: 2% 3%;
  position: absolute;
  bottom: 10px;
}
.lm-sedan{
  color: #FA9048;
  font-weight: bold;
}
.lm-suv{
  color: #235F7A;
  font-weight: bold;
}
.lm-luxury{
  color: #3D6251;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .learn-more{
    position: absolute;
    bottom: 25px;
  }
}
